doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Document
    body 
    block content 
    header.auth-header
        h1 Members Only 
    
    main 
        h2 Login
            if messages.error 
                p= messages.error
        form(action="/general/login", method = "POST") 
            .form-group 
                label(for="email") Email: 
                input#email(type = "email", name = "email", required)

            .form-group 
                label(for="password") Password: 
                input#password(type = "password", name = "password", required)
            
            article.buttons-holder 
                button.submit-button(type = "submit") Login  

        hr
        p 
            a(href="/general/register") Register