* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

/* General changes */

body { 
  background-color: #252422;
  color: white;
  height: 100vh;
}

header { 
  background-color: #EB5E28;
  padding: 1rem; 
  font-weight: 900;
}

h1 { 
  font-size: 2.5rem;
}


a { 
  color: #FFFCF2;
  text-decoration: none;
}

.button { 
  background-color: #EB5E28;
  padding-inline: 0.5rem; 
  padding-top: 0.2rem;  
  padding-bottom: 0.2rem; 

  box-shadow: #ff9f793d 0px 3px 8px;

  border-radius: 20px;
}

.button:hover, .button:focus { 
  background-color: #CCC5B9;
  color: #252422;
}

.p-button{ 
  padding: 0.5rem;
}

.post-in-profile { 
  text-decoration: underline;
}

.post-in-profile:hover, .post-in-profile:focus { 
  background-color: #EB5E28;
  border-radius: 10px;
  padding-inline: 0.5rem; 
  padding-top: 0.2rem; 
  padding-bottom: 0.2rem; 
}

p .post-in-profile:hover { 
  margin: .2rem;
}

input, textarea { 
  background-color: #403d39;
  padding-inline: .5rem;
  padding-top: .2rem; 
  padding-bottom: .2rem;
  border: none; 
  outline: none;
  border-radius: 20px;
  color: white; 
}

.button-holder { 
  margin-top: .3rem; 
  margin-bottom: .3rem;
}

.submit-button { 
  background-color: #EB5E28;
  border-radius: 10px;
  padding-inline: 0.5rem; 
  padding-top: 0.2rem; 
  padding-bottom: 0.2rem; 

  border:none;  
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
  color: white;
}

.submit-button:hover, .submit-button:focus { 
  background-color: #CCC5B9;
  color: #252422; 
  text-decoration: underline;
}

ul { 
  list-style-type: none;
  margin: 1rem;
}

/*  Auth pages */ 
.personal { 
  margin-top: 1rem; 
}

.auth-main { 
  height: 70vh; 
  display: grid; 
  place-content: center;
}

.auth-main form { 
  border: 2px solid #fffcf2;
  padding: 1rem;
}

.form-group { 
  margin: 1rem; 
  margin-left: 0; 
}

.auth-main .submit-button { 
  margin-top: .5rem;
}

.p-auth-a { 
  margin: 1rem;
  margin-left: 0; 
}

  /*  post in index*/ 
.post {
  background-color: #403D39;
  border-radius: 20px; 
  margin: 1rem;

  padding: 1rem;
  padding-left: 2.5rem;
}

.post-title { 
  font-size: 1.2rem;
  font-weight: 900;
}

.post-info { 
  font-size: .8rem; 
  padding-left: .5rem;
  color: #CCC5B9;
  font-weight: 700;
}

.navigate { 
  display: flex;
  padding-left: 1.5rem;
}

.article-post-functionality { 
  display: flex;
}

.p-button-index-post { 
  padding-top: 0; 
}

/* POST DETAIL PAGE*/
.post-description { 
  background-color: #fffcf2;
  color: #252422; 
  margin-inline: 4rem;
  padding: .5rem;

  margin-top: .5rem; 
  margin-bottom: .5rem;
  box-shadow: rgba(107, 107, 107, 0.35) 0px 5px 15px;
} 

.info { 
  display: flex;
  column-gap: 2rem;
  background-color: #403d39;
  padding: .5rem;
}

/* MEMBERS LIST PAGE */
.members-list ul li { 
  margin: 1rem; 
  display: flex; 
  column-gap: .4rem;
}

.members-list ul li::before { 
  content: "-"; 
}

/* GENRES */ 

.list-a::before { 
  content: "-"; 
}; 

.list-a { 
  font-weight: 700;
}

.list-a:hover, .list-a:focus { 
  background-color: #403d39;
  color: #fffcf2;
  font-weight: 900;

  padding-inline: 0.5rem; 
  padding-top: .2rem; 
  padding-bottom: .2rem;
  border-radius: 20px;
}

.developer { 
  display: flex;
  column-gap: 3rem;
  justify-content: center;
  margin: 2rem;
}

.info { 
  margin-bottom: .5rem;
  margin-top: .5rem; 
}